
<%- include partials/meta.ejs %>
<body class="" background="/static/images/back.jpg"  style="background-attachment: fixed;"></body>
<%- include partials/nav.ejs %>
<br>
<br>
<br>
<br>
<%- include partials/quespalette.ejs %>
<%- include partials/anspalette.ejs %>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8"><h3>Wanna Ans this</h3></div>
    <div class="col-md-2"></div>
</div>
 <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><textarea name="editor" class="ckeditor" id='content'  style="height:300px;"></textarea></div>
        <div class="col-md-2"></div>
        </div>             
</div>
<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6"></div>
        <div class="col-md-1"><button id='postAns' class="btn btn-success" style="margin-top: 10px '">Post Ur Ans</></div>
        <div class="col-md-3"></div>
</div>
<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><div name="message" class="message" id='message'  style="height:40px;"></div></div>
        <div class="col-md-2"></div>
        </div>             
</div>
<%- include partials/footer.ejs %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript" src="/static/js/ckeditor/ckeditor.js"></script>
<script src="/static/js/postAns.js"> </script>
